@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(//cdn.shopify.com/s/files/1/2428/0073/t/30/assets/bg.jpg?v=1269992…);
  z-index: -1;
  background-size: cover;
  background-position: center right 25%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-navbar {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-link {
  color: white;
  padding: 10px;
  text-decoration: none;
}
.nav-link:hover {
  color: #bb4672;
  border-radius: 10px;
  background: white;
}
.nav-link:active {
  background: rgb(172, 172, 172);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 60px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 015);
  max-width: 100%;
  box-sizing: border-box;
}

.inner-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(206, 206, 206);
  justify-content: center;
  padding: 20px 20px 0px 20px;
  border-radius: 20px;
}

h1 {
  font-size: 50px;
  text-shadow: 2px 2px rgba(0, 0, 0, 015);
  color: white;
  margin-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  color: #bb4672;
  margin-top: 0px;
}

.grade-form-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grade-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.grade-input {
  margin-bottom: 15px;
  margin-top: 5px;
}

.calculate-button {
  font-size: 20px;
  padding: 10px;
  background-color: #bb4672;
  color: white;
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 015);
  margin-bottom: 20px;
}
.calculate-button:hover {
  background-color: #8b3456;
}
.calculate-button:active {
  background-color: #471b2d;
  color: rgb(184, 184, 184);
}

.output {
  font-size: 20px;
  width: 80%;
  margin-bottom: 20px;
}

pre {
  border: none !important;
  /* only needed as the prettify package adds a black border by default which does not look visually appealing */
  overflow: auto;
}

footer {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.author {
  margin-bottom: 5px;
  text-align: center;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
  color: white;
  padding: 10px;
  text-decoration: none;
}
.footer-link:hover {
  color: #bb4672;
  border-radius: 10px;
  background: white;
}
.footer-link:active {
  background: rgb(172, 172, 172);
}

.eddie-hearn-link {
  text-decoration: none;
  color: #bb4672;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1290px;
}
.video-container {
  width: 400px;
  padding: 15px;
}
.video {
  border-radius: 20px;
  border-style: solid;
  border-color: #bb4672;
  border-width: thick;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
