@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(//cdn.shopify.com/s/files/1/2428/0073/t/30/assets/bg.jpg?v=1269992…);
    z-index: -1;
}
.content {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    text-shadow: 2px 2px rgba(0, 0, 0, 015);
}

.code {
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-bottom: 60px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 015);
}
input {
    margin-bottom: 10px;
}

.card {
    background-color: white;
    color: #BB4672;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    margin-bottom: 60px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 015);
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculateLocation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculate {
    font-size: 30px;
    padding: 10px;
    margin-top: 60px;
    background-color: #BB4672;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 015);
}

.calculate:hover {
    background-color: #692741;
}
.output {
    font-size: 30px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

pre {
    padding: 0px 15px 15px 15px !important;
    width: fit-content;
    border: none !important;
}
.codeTitle {
    color: #BB4672;
    margin-left: 15px;
}

footer {
    text-align: center;
    padding-top: 0px;
    margin-bottom: 40px;
}
a {
    color: white;
}
